@keyframes bob {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-3px);
  }
  50% {
    transform: translateY(-5px);
  }
  75% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes bounce {
  0% {
    transform: scaleY(1) rotate(0);
  }
  25% {
    transform: scaleY(0.85) rotate(10deg);
  }
  50% {
    transform: scaleY(1) rotate(0);
  }
  75% {
    transform: scaleY(0.85) rotate(-10deg);
  }
  100% {
    transform: scaleY(1) rotate(0);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes expand {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }

  /* 0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.15);
  }
  60% {
    transform: scale(1.15);
  }
  90% {
    transform: scale(1);
  } */
}

@keyframes winbounce {
  0% {
    transform: scaleY(1) rotate(0);
  }
  25% {
    transform: scaleY(0.95) rotate(5deg);
  }
  50% {
    transform: scaleY(1) rotate(0);
  }
  75% {
    transform: scaleY(0.95) rotate(-5deg);
  }
  100% {
    transform: scaleY(1) rotate(0);
  }
}

@keyframes shadowdance {
  0% {
    text-shadow: -3px 3px 0px var(--emoji-yellow);
  }
  25% {
    text-shadow: -3px -3px 0px var(--emoji-yellow);
  }
  50% {
    text-shadow: 3px -3px 0px var(--emoji-yellow);
  }
  75% {
    text-shadow: 3px 3px 0px var(--emoji-yellow);
  }
  100% {
    text-shadow: -3px 3px 0px var(--emoji-yellow);
  }
}

header .router-link-active {
  /* transition: text-shadow 0.5s ease; */
  animation-name: shadowdance;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
