h1 {
  font-size: 48px;
}

.bg-dark {
  background-color: #222 !important;
}

/**
 * BUTTONS
 */

.btn {
  border-radius: 15px;
  padding: 10px;
}

.btn:active,
.btn:focus,
.btn-close:active,
.btn-close:focus {
  box-shadow: none !important;
}

.btn:focus,
.btn-close:focus {
  outline: auto 2px Highlight;
  outline: auto 2px -webkit-focus-ring-color;
}

/**
 * CARDS & MODALS
 */

.fade {
  transition: opacity 0.1s linear;
}

.modal .btn-close,
.toast .btn-close {
  background-image: none;
  width: auto;
  height: auto;
  opacity: 1;
  font-size: 30px;
  padding: 0;
}

.card,
.modal-content {
  border-radius: 15px;
  border: 5px solid #222;
}

.card-body,
.modal-body,
.modal-header {
  padding: 30px;
}

.modal {
  transition: all 0.1s linear;
  background-color: #aaa;
  opacity: 1;
}

.modal-header {
  border: 0;
  padding-top: 20px;
  padding-bottom: 0;
}

.modal-header h5 {
  font-size: 36px;
  margin: 0;
}

@media (max-width: 768px) {
  .card-body,
  .modal-body,
  .modal-header {
    padding: 20px;
  }
}

/**
 * FORMS
 */
.form-select {
  box-shadow: inset 0 2px 0 rgb(0 0 0 / 8%);
}

.form-control,
.form-select {
  /* border: 3px solid var(--gray); */
  border-radius: 15px;

  line-height: 1.8;
  border-width: 3px;
}

/* .input-group .btn.btn-secondary {
  border-color: var(--gray);
  border-left: 0;
} */
