.bg-dark {
  background-color: #222 !important;
}

.btn:active,
.btn:focus,
.btn-close:active,
.btn-close:focus {
  box-shadow: none !important;
}

.btn:focus,
.btn-close:focus {
  outline: auto 2px Highlight;
  outline: auto 2px -webkit-focus-ring-color;
}

.modal .btn-close,
.toast .btn-close {
  background-image: none;
  width: auto;
  height: auto;
  opacity: 1;
  font-size: 30px;
  padding: 0;
}

.fade {
  transition: opacity 0.1s linear;
}

h1 {
  font-size: 48px;
}

.card,
.modal-content {
  border-radius: 15px;
  border: 5px solid #222;
}

.card-body,
.modal-body,
.modal-header {
  padding: 30px;
}

.modal {
  transition: all 0.15s linear;
  background-color: #aaa;
  opacity: 1;
}

.modal-header {
  border: 0;
  padding-top: 20px;
  padding-bottom: 0;
}
