body.darkmode {
  color: var(--soft-white);
  background-color: var(--dark);
}

body.darkmode .card,
body.darkmode .modal-content {
  background-color: var(--dark);
  border-color: var(--light-gray);
  color: var(--soft-white);
}

body.darkmode .modal-backdrop.show {
  transition: opacity 0s;
  opacity: 0.9;
}

/* body.darkmode .modal {
  background-color: var(--gray);
} */

body.darkmode h1,
body.darkmode h2,
body.darkmode h3,
body.darkmode h4,
body.darkmode h5 {
  color: var(--soft-white);
}

body.darkmode p {
  color: var(--soft-white);
}

/**
 * FORMS
 */
body.darkmode .form-select {
  box-shadow: inset 0 2px 0 rgb(0 0 0 / 8%);
}

/* body.darkmode .form-control,
body.darkmode .form-select {
  border: 3px solid var(--soft-white);
} */

body.darkmode .btn.btn-outline-secondary {
  background-color: var(--dark);
  border-color: var(--light-gray);
  color: var(--soft-white);
}
