#app-wrapper,
.card,
.modal-content {
  transition: color 0.15s ease-in-out, background-color 0.25s ease-in-out,
    border-color 0.25s ease-in-out;
}

#app-wrapper.bg-dark {
  color: #f1f1f1;
}

#app-wrapper.bg-dark .card,
#app-wrapper.bg-dark .modal-content {
  background-color: #111;
  border-color: #fefefe;
  color: #f1f1f1;
}

#app-wrapper.bg-dark .modal {
  background-color: #222;
}

#app-wrapper.bg-dark h1,
#app-wrapper.bg-dark h2,
#app-wrapper.bg-dark h3,
#app-wrapper.bg-dark h4,
#app-wrapper.bg-dark h5 {
  color: #fefefe;
}
