/* @font-face {
  font-family: 'Comic Sans MS';
  src: url('./assets/fonts/comic.ttf');
} */

body,
p {
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Comic Sans MS', 'Comic Neue', cursive;
}

h1 {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--gray);
  font-family: 'Bangers', cursive;
  transition: color 0.1s linear;
}
